<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [4]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=3ChRavsYhQK7DJIT17N5kE7tzyHXvdCy"
datapi = requests.get(url)
datapi.json()

{'success': True,
 'timestamp': 1678860243,
 'base': 'EUR',
 'date': '2023-03-15',
 'rates': {'AED': 3.944329,
  'AFN': 94.633165,
  'ALL': 114.062682,
  'AMD': 417.226964,
  'ANG': 1.932651,
  'AOA': 545.017759,
  'ARS': 217.043816,
  'AUD': 1.607049,
  'AWG': 1.935758,
  'AZN': 1.826926,
  'BAM': 1.955926,
  'BBD': 2.165161,
  'BDT': 113.217317,
  'BGN': 1.95533,
  'BHD': 0.404836,
  'BIF': 2229.689429,
  'BMD': 1.073929,
  'BND': 1.442387,
  'BOB': 7.409479,
  'BRL': 5.641673,
  'BSD': 1.072344,
  'BTC': 4.3301254e-05,
  'BTN': 88.423414,
  'BWP': 14.146836,
  'BYN': 2.706626,
  'BYR': 21049.016305,
  'BZD': 2.16146,
  'CAD': 1.469973,
  'CDF': 2201.554923,
  'CHF': 0.98169,
  'CLF': 0.031239,
  'CLP': 861.989499,
  'CNY': 7.393361,
  'COP': 5095.365447,
  'CRC': 585.070498,
  'CUC': 1.073929,
  'CUP': 28.459129,
  'CVE': 110.277127,
  'CZK': 23.773151,
  'DJF': 190.933007,
  'DKK': 7.446315,
  'DOP': 58.977106,
  'DZD': 145.95345,
  'EGP': 33.18356,
  'ERN': 16.108941,
  'ETB': 57.723955,
  'EUR': 1,
  'FJD': 2.379186,
  'FKP': 0.883467,
  'GBP': 0.883371,
  'GEL': 2.781554,
  'GGP': 0.883467,
  'GHS': 13.188852,
  'GIP': 0.883467,
  'GMD': 66.04644,
  'GNF': 9232.284381,
  'GTQ': 8.35854,
  'GYD': 226.244621,
  'HKD': 8.429954,
  'HNL': 26.447187,
  'HRK': 7.537131,
  'HTG': 165.141436,
  'HUF': 389.10639,
  'IDR': 16509.838896,
  'ILS': 3.884829,
  'IMP': 0.883467,
  'INR': 88.558375,
  'IQD': 1565.015713,
  'IRR': 45373.517059,
  'ISK': 150.296568,
  'JEP': 0.883467,
  'JMD': 163.40969,
  'JOD': 0.761839,
  'JPY': 144.570241,
  'KES': 139.285313,
  'KGS': 93.8828,
  'KHR': 4341.563564,
  'KMF': 493.472741,
  'KPW': 966.40946,
  'KRW': 1399.142095,
  'KWD': 0.32931,
  'KYD': 0.893566,
  'KZT': 494.621177,
  'LAK': 18104.181467,
  'LBP': 16226.890805,
  'LKR': 364.613934,
  'LRD': 172.634301,
  'LSL': 19.524302,
  'LTL': 3.171035,
  'LVL': 0.649609,
  'LYD': 5.155621,
  'MAD': 11.181323,
  'MDL': 20.00441,
  'MGA': 4601.597319,
  'MKD': 61.618982,
  'MMK': 2251.902797,
  'MNT': 3800.227713,
  'MOP': 8.667041,
  'MRO': 383.392612,
  'MUR': 50.635419,
  'MVR': 16.523981,
  'MWK': 1123.245805,
  'MXN': 20.038138,
  'MYR': 4.803659,
  'MZN': 67.777152,
  'NAD': 19.524158,
  'NGN': 494.576424,
  'NIO': 39.225457,
  'NOK': 11.323221,
  'NPR': 141.485048,
  'NZD': 1.727313,
  'OMR': 0.4134,
  'PAB': 1.072269,
  'PEN': 4.072263,
  'PGK': 3.779526,
  'PHP': 58.989329,
  'PKR': 302.65365,
  'PLN': 4.705953,
  'PYG': 7707.928768,
  'QAR': 3.910235,
  'RON': 4.923279,
  'RSD': 117.299961,
  'RUB': 80.985266,
  'RWF': 1171.241129,
  'SAR': 4.033252,
  'SBD': 8.842669,
  'SCR': 14.314726,
  'SDG': 638.436014,
  'SEK': 11.236297,
  'SGD': 1.441857,
  'SHP': 1.306704,
  'SLE': 22.25066,
  'SLL': 21210.106196,
  'SOS': 611.603994,
  'SRD': 37.362343,
  'STD': 22228.170394,
  'SVC': 9.382694,
  'SYP': 2697.448085,
  'SZL': 19.495168,
  'THB': 37.041943,
  'TJS': 11.709157,
  'TMT': 3.758753,
  'TND': 3.334579,
  'TOP': 2.527332,
  'TRY': 20.390902,
  'TTD': 7.278809,
  'TWD': 32.852042,
  'TZS': 2512.994682,
  'UAH': 39.410016,
  'UGX': 4010.259165,
  'USD': 1.073929,
  'UYU': 42.112722,
  'UZS': 12272.793137,
  'VEF': 2587024.884157,
  'VES': 25.742409,
  'VND': 25333.994625,
  'VUV': 128.662542,
  'WST': 2.957824,
  'XAF': 656.079054,
  'XAG': 0.04941,
  'XAU': 0.000565,
  'XCD': 2.902348,
  'XDR': 0.808005,
  'XOF': 656.079054,
  'XPF': 119.979337,
  'YER': 268.804675,
  'ZAR': 19.480755,
  'ZMK': 9666.65376,
  'ZMW': 21.773624,
  'ZWL': 345.80483}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [9]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(datapi.json())
dataframe

     success   timestamp base        date        rates
AED     True  1678860243  EUR  2023-03-15     3.944329
AFN     True  1678860243  EUR  2023-03-15    94.633165
ALL     True  1678860243  EUR  2023-03-15   114.062682
AMD     True  1678860243  EUR  2023-03-15   417.226964
ANG     True  1678860243  EUR  2023-03-15     1.932651
..       ...         ...  ...         ...          ...
YER     True  1678860243  EUR  2023-03-15   268.804675
ZAR     True  1678860243  EUR  2023-03-15    19.480755
ZMK     True  1678860243  EUR  2023-03-15  9666.653760
ZMW     True  1678860243  EUR  2023-03-15    21.773624
ZWL     True  1678860243  EUR  2023-03-15   345.804830

[170 rows x 5 columns]

In [10]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.944329
AFN    94.633165
ALL   114.062682
AMD   417.226964
ANG     1.932651
..           ...
YER   268.804675
ZAR    19.480755
ZMK  9666.653760
ZMW    21.773624
ZWL   345.804830

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [11]:
# Save the Dataframe
dataframe.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).